name: Docker and AWS 

on:
  push:
    branches:
      - main

jobs:
  docker:
    name: Build, Push & Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4 

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/zustad_learn:latest .

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/zustad_learn:latest  

      - name: Deploying to EC2
        uses: appleboy/ssh-action@v1.0.3    
        with: 
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKER_USERNAME }}/zustad_learn:latest
            docker stop zustad_learn || true
            docker rm zustad_learn || true
            docker run -d \
              --name zustad_learn \
              -p 80:80 \
              ${{ secrets.DOCKER_USERNAME }}/zustad_learn:latest
            docker image prune -f  
